body, html {
    height: 100%;
}
.bg { 
    /* The image used */
    background-image: url("https://t3.ftcdn.net/jpg/01/75/84/56/500_F_175845606_fEkBIKmyJyxIgT5Nua83ZB5o7fcmsbIO.jpg");

    /* Full height */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  
#grayOutDiv
{
    background-color: #333;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}

.flash-message
{
    z-index: 10000;
    position: relative;
}